* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #495295;
    padding: 10px;
    text-align: center;
}





nav h1 {
    color: white;
    padding: 1rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 20px;
}

.staff {
    margin: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(5, 5, 5, 0.1);
    overflow: hidden;
    width: 260px;
    height: 345px;

}

.designation {
    font-style: italic;
}

.department {
    padding: 0 1rem 0 1rem;
}

.staff__image {
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.staff img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid lightgray;
    object-fit: cover;
    object-position: center 10%;
    border-radius: 8px 8px 0 0;
}

p {
    margin-bottom: 0 !important;
}

.details {
    padding: 10px;
    width: 100%;
    background-color: white;
}

.filters {
    display: flex;
    /* justify-content: center; */
    padding: 1rem;
    align-items: center;
    margin: 20px;
    background-color: #cbdeee;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}